/*= ОБЩИЕ СТИЛИ
--------------------------------------------------------*/

body {
    background: rgba(225, 236, 241, 0.61) !important;;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

a{
    color: #f58220 !important;
    font-weight: 400;
}

span {
    font-weight: 300;
    color: #f58220;
}

.mlogin {
  margin: 10% auto;
}

.mregister {
    margin: 0 auto;
}

.error {
  margin: 15px auto;
  /* border: 1px solid #777; */
  padding: 3px;
  color: #fff;
  text-align: center;
  width: 90%;
  background: #f58220;
  border-radius: 10px;
  box-shadow: 0px 2px 6px -2px #000000;
}

.regtext {
    font-size: 13px;
    margin-top: 26px;
    color: #777;
}
/*= КОНТЕЙНЕРЫ
--------------------------------------------------------*/

.container {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 350px;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}

#welcome {
  width: 500px;
  padding: 30px;
  background: #fff;
  margin: 15px auto;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}

.container h1 {
    color: #777;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #777;
    margin-top: 13px;
}

.container label {
    color: #777;
    font-size: 14px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

h4>span {
    /* text-align: right; */
    float: right;
}

span.span_about {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: right;
}

p.logout {
  /* margin: 0 auto; */
  font-size: 17px;
  text-align: center;
}
p.logout>a {
    color: rgb(245, 130, 32);
}

input#date {
    width: 320px;
}

.img > img {
  height: 100%;
  border-radius: 10px;
}
.img {
    max-width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 30px;
}

footer {
  margin: 0px auto;
  text-align: center;
  width: 300px;
}


.container form .input,
.container input[type=text],
.container input[type=password],
.container input[type=e] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus {
    border: 1px solid #f58220;
    -webkit-box-shadow: 0 0 3px 0 rgba(245, 130, 32, 0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245, 130, 32, 0.75);
    box-shadow: 0 0 3px 0 rgba(245, 130, 32, 0.75);
}
/*= КНОПКИ
--------------------------------------------------------*/

.button {
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, leftbottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    color: #fff;
    padding: 7px 12px;
    -webkit-border-radius: 4px;
    moz-border-radius: 4px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

.button:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, leftbottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}


/*= ПОДВАЛ
--------------------------------------------------------*/

footer {
    color: #777;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 960px) {

    .logout{
        font-size: 2em !important;
    }  
    footer{
        font-size: 1.2em !important;
    }

}